.border-btn {
    display: block;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
    border-radius: 4px;
    padding: 8px 32px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.border-btn:hover {
    text-decoration: none;
    background-color: #f8f8f8;
    color: #1A1A1A;
    border: none;
}