.border-btn {
    display: block;
    color: #1A1A1A;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
}

.border-btn:hover {
    text-decoration: none;
    color: #1A1A1A;
    border-bottom: 2px solid #1A1A1A;
}